<nav class="bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex">
        <div class="flex-shrink-0 flex items-center">
         <img src="img/{{ site.logo }}" class="h-12">
        </div>
      </div>

      <div class="ml-auto flex-shrink-0 flex items-center">
        <a href="{{ site.nav-link }}">
          <span class="inline-flex items-center px-6 py-3 rounded-full text-base font-bold leading-5 bg-secondary text-white hover:bg-primary transition duration-300 ease-in-out">
            {{ site.nav-link-text }}
          </span>
        </a>
      </div>
      
    </div>
  </div>
</nav>